spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ebookreader
    username: postgres
    password: 12345
  sql:
    init:
      mode: always 
      continue-on-error: true

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true

  graphql:
    path: /graphql
    graphiql:
      enabled: true
      path: /graphiql
    schema:
      introspection:
        enabled: true

server:
  port: 8080
